# Assignment Feature Engineering

Q1: What are missing values in a dataset? Why is it essential to handle missing values? Name some
algorithms that are not affected by missing values.

Missing values occurs in dataset when some of the informations is not stored for a variable. If missing data is not handled, the model perform badly due to improper data. 1 Missing Completely at Random, MCAR, 2. Missing  at Random, MAR, 3. Missing data not at random (MNAR)

Q2: List down techniques used to handle missing data. Give an example of each with python code.

1. Mean Imputation
2. Median Imputation
3. Mode Imputation

In [1]:
import seaborn as sns
import numpy as np
import pandas as pd

In [2]:
df=sns.load_dataset('titanic')

In [3]:
## Check missing values
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [5]:
df.shape

(891, 15)

In [7]:
df.dropna().shape

(182, 15)

In [8]:
# Mean Imputation
df['Age_mean']=df['age'].fillna(df['age'].mean())

In [11]:
df[['Age_mean','age']]

      Age_mean   age
0    22.000000  22.0
1    38.000000  38.0
2    26.000000  26.0
3    35.000000  35.0
4    35.000000  35.0
..         ...   ...
886  27.000000  27.0
887  19.000000  19.0
888  29.699118   NaN
889  26.000000  26.0
890  32.000000  32.0

[891 rows x 2 columns]

In [13]:
#Median Imputation
df['age_median']=df['age'].fillna(df['age'].median())

In [14]:
df[['age_median','age']]

     age_median   age
0          22.0  22.0
1          38.0  38.0
2          26.0  26.0
3          35.0  35.0
4          35.0  35.0
..          ...   ...
886        27.0  27.0
887        19.0  19.0
888        28.0   NaN
889        26.0  26.0
890        32.0  32.0

[891 rows x 2 columns]

In [16]:
# Mode Imputation - Categorical Values
df[df['embarked'].isnull()]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Age_mean,age_median
61,1,1,female,38.0,0,0,80.0,NaN,First,woman,False,B,NaN,yes,True,38.0,38.0
829,1,1,female,62.0,0,0,80.0,NaN,First,woman,False,B,NaN,yes,True,62.0,62.0

In [17]:
df['embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [18]:
mode_value=df[df['embarked'].notna()]['embarked'].mode()[0]
mode_value

'S'

In [20]:
df['embarked_mode']=df['embarked'].fillna(mode_value)
df[['embarked_mode','embarked']]

    embarked_mode embarked
0               S        S
1               C        C
2               S        S
3               S        S
4               S        S
..            ...      ...
886             S        S
887             S        S
888             S        S
889             C        C
890             Q        Q

[891 rows x 2 columns]

Q3: Explain the imbalanced data. What will happen if imbalanced data is not handled?

Imbalanced data is data where the data of either classes are very high than the other which results in model biased.

Q4: What are Up-sampling and Down-sampling? Explain with an example when up-sampling and down-
sampling are required.

Upsampling is increasing the data of the minority class till it reaches near to majority class. Down sampling is deleting data from majority class till its values are near minority.

Q5: What is data Augmentation? Explain SMOTE.

Data augmentation is a technique of artificially increasing the training set by creating modified copies of a dataset using existing data. It includes making minor changes to the dataset or using deep learning to generate new data points.SMOTE (Synthetic Minority Over-sampling Technique) is a technique used in machine learning to address imbalanced datasets where the minority class has significantly fewer instances than the majority class. SMOTE involves generating synthetic instances of the minority class by interpolating between existing instances

Q6: What are outliers in a dataset? Why is it essential to handle outliers?

Outliers are the data points in which the target values are either very high pr very low to the other data points. This makes the model perfom poorly as the mean median mode values get altered and the property of the dataset is changed.

Q7: You are working on a project that requires analyzing customer data. However, you notice that some of
the data is missing. What are some techniques you can use to handle the missing data in your analysis?

We can try imputation using mean, median and mode and fill the missing values with any of these

Q8: You are working with a large dataset and find that a small percentage of the data is missing. What are
some strategies you can use to determine if the missing data is missing at random or if there is a pattern
to the missing data?

Based on the type of data, and the values missing we can try to find a pattern. If its missing at random, the data mightn

Q9: Suppose you are working on a medical diagnosis project and find that the majority of patients in the
dataset do not have the condition of interest, while a small percentage do. What are some strategies you
can use to evaluate the performance of your machine learning model on this imbalanced dataset?

We have to upsample either using SMOTE or normal upsampling. SMOTE is better as it generates synthetic data points.

Q10: When attempting to estimate customer satisfaction for a project, you discover that the dataset is
unbalanced, with the bulk of customers reporting being satisfied. What methods can you employ to
balance the dataset and down-sample the majority class?

The downsampling can be done by taking length of minoriy class and downsampling the majority to this length

Q11: You discover that the dataset is unbalanced with a low percentage of occurrences while working on a
project that requires you to estimate the occurrence of a rare event. What methods can you employ to
balance the dataset and up-sample the minority class?

We can try SMOTE as the rare event samples are significantly less. This will upsample to the majority class quantity